html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: $backgroundColor;
    color: $mainfont;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
    display: inline;

}

header {
    width: 100%;
    height: 10vh;
}


#background {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    padding-inline-start: 0px;
}

.bestRankingMovie {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 400px;
}

.bestMoviePictureContainer {
    width: 50%;
    height: 100%;
    flex: 1;
}

.bestRankingMovieInfo {
    flex: 1;

}

.bestMoviePicture {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.moviepicture {
    align-self: center;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.carousel {
    background-color: $carouselBackground;
    position: relative;
    height: 40vh;
    width: 100%;
}

.carousel__track-container {
    background-color: $backgroundColor;
    overflow: clip;
    position: relative;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
}

.carousel__track {
    display: flex;
    position: relative;
    list-style: none;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: all 0.5s;
}

.carousel__slide {
    flex-basis: 20%;
    min-width: 20%;
    height: 100%;
    padding-right: 5px;
    padding-left: 5px;
    flex-shrink: 0;
    flex: 1;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.moviepicture {
    object-fit: fill;
    cursor: pointer;
}

.carousel__button {
    position: absolute;
    top: 50%;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button img {
    width: 20px;
}

.carousel__button--right {
    right: 1px;
    z-index: 1;
}

.carousel__button--left {
    left: 1px;
    z-index: 1;
}

#bestMovieButton {
    color: $mainfont;
    background-color: $modalbutton;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px;
    padding: 10px 25px;
    margin: 10px;
    cursor: pointer;

}

.bestMovieTitle {
    margin: 10px;
}

.bestMovieDescr {
    margin: 10px;
}

.modal-container {
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: $modalbackground;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: $modalwindow;
    width: 60%;
    height: 60%;
    justify-content: center;
    align-content: center;
}

.modalContent {
    height: 100%;
    width: 100%;
    display: flex;
}

.modalInformation {
    height: 100%;
    width: 60%;
}

.modalPicture {
    height: 100%;
    width: 40%;
}

#closeModale {
    align-self: center;
    background-color: $modaleclosing;
    height: 8%;
    width: 10%;
    color: $mainfont;
    cursor: pointer;
}