$backgroundColor: black;
$carouselBackground: rgb(75, 72, 72);
$modalbutton: rgb(49, 48, 48);
$modalbackground: rgba(41, 39, 39, 0.404);
$modalwindow: rgb(75, 72, 72);
$mainfont: whitesmoke;
$modaleclosing: rgb(105, 97, 97);
